.border {
    border-radius: 45px;
    border: 1px solid #B0960A;
}

.navbar-center {
    margin: 0 auto;
}


/*body {*/
/*    background-color: #4169e1; !* Royal Blue *!*/
/*    color: #ffd700; !* Gold *!*/
/*}*/

/*!* Deep Purple and Silver *!*/
/*h1 {*/
/*    color: #800080; !* Deep Purple *!*/
/*}*/

/*p {*/
/*    color: #c0c0c0; !* Silver *!*/
/*}*/

/*!* Teal and Orange *!*/
/*a {*/
/*    color: #008080; !* Teal *!*/
/*}*/

/*.button {*/
/*    background-color: #ffa500; !* Orange *!*/
/*}*/

/*!* Black and Gold *!*/
/*footer {*/
/*    background-color: #000000; !* Black *!*/
/*    color: #ffd700; !* Gold *!*/
/*}*/
