.header {
    color: #990303;
    padding-bottom: 20px;
    font-size: 3rem;
    font-weight: lighter;
}

@media (max-width: 1200px) {
    .header {
        font-size: 3rem;
    }
}

@media (max-width: 992px) {
    .header {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .header {
        font-size: 2.5rem;
    }
}

@media (max-width: 576px) {
    .header {
        font-size: 2rem;
    }
}