.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
     border-color: #B0960A /* Default border color */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #d3c970; /* Border color on focus */
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #B0960A /* Border color on hover */
}

.MuiInputLabel-root {
    color: darkgrey; /* Default label color */
}

.MuiInputLabel-root.Mui-focused {
    color: darkgrey; /* Label color on focus */
}

.MuiInputBase-input {
    color: darkgrey; /* Change this to your desired color */
}